@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
body {
  background-color: #fafafa;
}
.container {
  color: hsl(234, 12%, 34%);
  width: calc(100vw - 60px);
  margin: 54px auto 48px;
}
.container header h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 200;
}
.container header h1 p {
  font-weight: 600;
}
.container header article {
  text-align: center;
  margin: 13px auto 0;
  padding-bottom: 34px;
  max-width: 540px;
}
main {
  display: flex;
  flex-wrap: wrap;
}
main section {
  position: relative;
  margin: 33px auto 0;
  max-width: 352px;
  height: 250px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 15px 0 rgba(82, 113, 150, 0.1);
  padding: 34px;
}
main section p {
  font-size: 14px;
  color: hsl(212, 6%, 44%);
}
main section h2 {
  font-size: 22px;
  color: hsl(234, 12%, 34%);
  margin-bottom: 5px;
}
main section img {
  position: absolute;
  bottom: 48px;
  right: 34px;
}
main section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}
main section:first-of-type::before {
  background-color: hsl(180, 62%, 55%);
}
main section:nth-of-type(2)::before {
  background-color: hsl(0, 78%, 62%);
}
main section:nth-of-type(3)::before {
  background-color: hsl(34, 97%, 64%);
}
main section:nth-of-type(4)::before {
  background-color: hsl(212, 86%, 64%);
}
footer {
  position: relative;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}
